@media all {
  table.table-boleto {
    width: 666px;
    height: 990px;
  }
  table.table-boleto tbody tr td {
    vertical-align: top;
  }
  table.table-boleto tbody tr td table {
    width: 100%;
  }
  table.table-boleto tbody tr td table.table-demonstrativo > tbody > tr > td {
    max-height: 78px;
    min-height: 78px;
    height: 78px;
    vertical-align: top;
  }
  table.table-boleto tbody tr td table.table-codbarras > tbody > tr > td {
    max-height: 74px;
    min-height: 74px;
    height: 74px;
    vertical-align: top;
  }
  table.table-boleto tbody tr td table tbody tr td {
    vertical-align: bottom;
  }
  table.table-boleto tbody tr td table tbody tr td.cod-banco {
    width: 58px;
  }
  div.corte {
    height: 1px;
    border-top: #000 1px dashed;
    width: 100%;
  }
  img.logo-banco {
    max-width: 150px;
    width: 150px;
    height: 43px;
    max-height: 43px;
    margin: auto;
  }
  .b-1 {
    border-width: 1px!important;
  }
  .b-2 {
    border-width: 2px!important;
  }
  .barcode {
    height: 50px;
    padding: 0px;
  }
  .barcode .barcode-b1 {
    width: 1px;
    background-color: #fff;
    height: inherit;
  }
  .barcode .barcode-b3 {
    width: 3px;
    background-color: #fff;
    height: inherit;
  }
  .barcode .barcode-p1 {
    width: 1px;
    background-color: #000;
    height: inherit;
  }
  .barcode .barcode-p3 {
    width: 3px;
    background-color: #000;
    height: inherit;
  }
  .td-barcode {
    display: inline-flex;
  }
  /* .bt-1{
		border-width: #000 1px solid !important;
	}
	.bt-2{
		border-width: #000 2px solid !important;
	}
	.bl-1{
		border-width: #000 1px solid !important;
	}
	.bl-2{
		border-width: #000 1px solid !important;
	}
	.br-1{
		border-width: #000 1px solid !important;
	}
	.br-2{
		border-width: #000 1px solid !important;
	} */
}
@media screen {
  body {
    margin: 8px;
    font-family: 'Lato';
    background-color: #fff;
  }
  .div-button {
    padding: 15px;
  }
  .bc {
    font: bold 20px Arial;
    color: #000000;
  }
  .cn {
    font: 9px Arial;
    color: black;
  }
  .cp {
    font: bold 10px Arial;
    color: black;
  }
  .ct {
    font: 9px 'Arial Narrow';
    color: #000033;
  }
  .ld {
    font: bold 15px Arial;
    color: #000000;
  }
  .ld2 {
    font: bold 12px Arial;
    color: #000000;
  }
  .ti {
    font: 9px Arial, Helvetica, sans-serif;
  }
  .separator {
    display: block;
    min-height: 50px;
  }
}
@media print {
  body {
    margin: 0px;
    font-family: 'Lato';
    background-color: #fff;
  }
  .div-button {
    display: none;
  }
  .bc {
    font: bold 20px Arial;
    color: #000000 ;
  }
  .cn {
    font: 9px Arial;
    color: black ;
  }
  .cp {
    font: bold 10px Arial;
    color: black;
  }
  .ct {
    font: 9px 'Arial Narrow';
    color: #000033;
  }
  .ld {
    font: bold 15px Arial;
    color: #000000;
  }
  .ld2 {
    font: bold 12px Arial;
    color: #000000 ;
  }
  .ti {
    font: 9px Arial, Helvetica, sans-serif;
  }
  .break {
    page-break-before: always;
  }
  .separator {
    display: none;
  }
}
